package main

import (
	"fmt"

	"github.com/robryanx/adventofcode{{.Year}}/util"
)

func main() {
	lines, err := util.ReadStrings({{if ge .Year 2024}}"{{.Day}}-1"{{else}}{{.Day}}{{end}}, true, "\n")
	if err != nil {
		panic(err)
	}

	for line := range lines {
		fmt.Println(line)
	}
}

